body
{
    background-color: #fff;
   font-size: medium;
}
title{
    color: pink;
}

.colornav
{
  background-color: #e10098;
  font-style: italic;
  color: #fff;
}
.navbar-brand {
  color: #fff;
}
.btn-outline-success
{
  background-color: rgba(245, 174, 218, 0.067);
}


.carousel-inner img {
    width: 100%; 
    height: auto; 
  }


  .button_home { 
   display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }
  .btn_primary
  {
    height: 40px;
    width: 90px;
    color: #000;
    background-color: #e10098;
  }
  .btn_lonuevo{
    height: 40px;
    width: 90px;
    color: #000;
    background-color: #e10098;
   
  }
  .anuncio{
    font-size: 20px;
    text-align: center;
    justify-content: flex-start;
    color:#000;
    background-color: gainsboro;
    font-family: "Times New Roman", Times ;
  }
 
    
  
  
  