body
{
    background-color: #fff;
   font-size: medium;
}
title{
    color: pink;
}

.colornav
{
  background-color: #e10098;
  font-style: italic;
  color: #fff;
}
.navbar-brand {
  color: #fff;
}
.btn-outline-success
{
  background-color: rgba(245, 174, 218, 0.067);
}


.carousel-inner img {
    width: 100%; 
    height: auto; 
  }


  .button_home {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Ajusta según el diseño */
    padding: 10px 20px;
    z-index: 1000; /* Para que quede sobre el contenido */
    display: flex;
    gap: 10px; /* Espaciado entre botones */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Efecto sutil */
}
  .btn_primary
  {
    height: 40px;
    width: 90px;
    color: #fff;
    background-color: #e10098;
  }
  .btn_lonuevo{
    height: 40px;
    width: 90px;
    color: #fff;
    background-color: #e10098;

  }
  .anuncio{
    font-size: 25px;
    text-align: center;
    justify-content: flex-start;
    color:#000;
    background-color: #F5F3F3;
    font-family: "Arial", Times ;
  }
  .banner{
    font-size: medium;
  }
 
    
  
  
  